* {
    box-sizing: border-box; /*Para utilizar el grid-view, el padding y border de los elementos tienen que estar incluidos dentro del mismo. */
    font-family: 'Kulim Park', sans-serif;
    text-align: left;
    margin: 0%;
}

hr {
    background-color: #ffffff;
    border-width: 0px;
    height: 1px;
}

.hrderecha {
    background-color: rgba(114, 107, 107, 0.885);
    border-width: 0px;
    height: 1px;
}

[class*="col-"] {
    float: left;
    padding: 15px;
  }

ul {
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px;
}

li {
    list-style: none;
    font-style: italic;
    margin: 0px 6px;
    padding-top: 5px;
    font-weight: 400;
}

li:hover{
    background-color: rgba(79, 230, 230, 0.289);
    transition-duration: 0.4s;
}

p {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 0px;
    color: rgba(114, 107, 107, 0.885);
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



/*COLUMNA IZQUIERDA*/
.columnaizquierda {
    background-color: rgba(114, 107, 107, 0.885);
    padding-bottom: 50px;
}

.columnaizquierda:hover{
    background-color: rgba(104, 98, 98, 0.785);
    transition-duration: 0.4s;
}

#modoOscuro {
    border: 5px thin;
    background-color: rgba(26, 78, 234, 0.382);
    padding: 5px 7px 5px 6px;
    border-radius: 15%;
    cursor: pointer;
}

#modoClaro {
    border: 5px thin;
    background-color: rgba(244, 221, 89, 0.487);
    padding: 5px;
    border-radius: 15%;
    cursor: pointer;
    display:none;
}

#imagendeperfil {
    border: 5px solid #ffffff;
    display: block;
    margin:auto;
    padding: 5px;
    border-radius: 50%;
}

.divsizquierda {
    color: #ffffff;
    padding: 8px 15px;
    font-weight: lighter;
}

.degree {
    color: #ffffff;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 0px;
    padding-top: 10px;
}

.universidad {
    color: rgb(218, 221, 224);
    margin-top: 0px;
    font-style: italic;
    font-weight: initial;
    font-size: 15px;
}




/*COLUMNA DERECHA*/

h1 {
    text-align: center;
}

#nombreycarrera {
    font-size: 20px;
    padding: 4.7%;
    background-color:rgba(50, 215, 215, 0.618) ;
    color: rgba(114, 107, 107, 0.907);
    text-align: center;
}

#nombreycarrera:hover{
    background-color:rgba(50, 215, 215, 0.774) ;
    transition-duration: 0.4s;
}

#descargarcv {
    color: rgba(114, 107, 107, 0.885);
    float: right;
    border: none;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
}

#descargarcv:hover{
    background-color:rgba(255, 255, 255, 0.668);
    transition-duration: 0.8s;
}

.encabezadosderecha {
    padding-top: 15px;
    letter-spacing: 3px;
    font-weight: lighter;
}

#aboutmecontent {
    padding: 10px 5px; 
    background-color: rgba(79, 230, 230, 0.289);
    text-indent: 35px;
    word-spacing: 9px;
    font-weight: lighter;
}

#aboutmecontent:hover{
    background-color:rgba(187, 237, 237, 0.937) ;
    transition-duration: 0.4s;
}

.exptrabajo {
    font-size: 20px;
    padding-top: 12px;
    margin: 0px;
}

.datostrabajo {
    font-weight: lighter;
    font-size: 13px;
    font-style: italic;
    padding-top: 3px;
    margin: 0px;
}

.labortrabajo {
    color: black;
    font-weight: lighter;
    font-size: 16px;
    padding-top: 4px;
    margin: 0px;
}

.labortrabajo:hover{
    background-color: rgba(191, 183, 183, 0.611);
    transition-duration: 0.4s;
}

.referenciasdiv {
    background-color: rgba(79, 230, 230, 0.349);
    padding: 10px;
    text-align: center;
    color: #848080;
}

.referenciasdiv:hover{
    background-color: rgba(100, 243, 243, 0.349);
    transition-duration: 0.4s;
}

.preftitulo {
    padding: 10px 10px;
    margin: 0px;
    text-align:center;
}

.prefdatos {
    font-size: 12px;
    font-weight: lighter;
    font-style: italic;
    padding: 0px;
    margin: 0px;
    text-align:center;
}


/*
Tooltip para el copiado
*/
.tooltip {
    position: relative;
    display: inline-block;
}
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color:rgba(50, 215, 215, 0.774) ;
    color: #f7f0f0;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
}
  
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #1caac3 transparent transparent transparent;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.fa-copy {
    border: none;
    cursor: copy;
    background-color: transparent;
}